<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383416600958-4p9mmbrar1ves1don8f1b2itu4rk6b6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383416600958-4p9mmbrar1ves1don8f1b2itu4rk6b6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBaHAa_2HJoBd_SKTb4F78gbfXDP_BRseQ</string>
	<key>GCM_SENDER_ID</key>
	<string>383416600958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cobugi.FirebaseStorePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-test1-ffa0d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test1-ffa0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383416600958:ios:e36f0fdceae5f4d3308b2f</string>
</dict>
</plist>